body{
  width:960px;
  margin: 0px auto 0px auto;
}
header{
  background-color: red;
  margin-top: 25px;
  height: 75px;
}
header img{
  float: left;
}
section#headertext{
  /* display: inline-block; */
  float: left;
}
#socialMediaButtons{
  float: right;
}

/* HR style from https://css-tricks.com/examples/hrs/ */
hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#heroImage {
  margin: 25px auto 25px auto;
}

#recipe {
  margin: 25px auto 25px auto;

}




#list {
  background-image: url(./img/list-bg.png);
  padding: 20px;
  height: 120px;
  margin: 25px auto 25px auto;
}

#listLeft {
  float: left;
  outline: 2px solid black;

}

#listRight {
  float: right;
  outline: 2px solid black;

}